.row.proto-comments
%h4.col-md-12
  Comments
  %span.num (#{comments.count})
#comment_area.col-md-8
  #comment_list
    - comments.each do |comments|
      .media{data: {'id' => comments.id}}
        .media-left
          = link_to "/users/#{comments.user_id}"  do
            = image_tag(comments.user.avatar.thumb, alt: "profile_photo", class: "media-object", style: "width: 64px; height: 64px;")
        %h4#top-aligned-media.media-body
          = comments.user.name
          %p
            = comments.content
        - if comments.user_id == current_user.id
          = button_to '削除', prototype_comment_path(id: comments.id, prototype_id: prototype.id), data: { confirm: '削除しますか？'}, method: :delete
          %button{"data-target" => "#modal-sample", "data-toggle" => "modal"}
            = '編集'

#modal-sample.modal{:tabindex => "-1"}
  .modal-dialog
    / 3.モーダルのコンテンツ
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#modal-label.modal-title 内容を編集してください
        .modal-body
          = form_for [prototype,comment] do |f|
            .form-group.col-md-10
              = f.text_area :content, placeholder: "Your comments", rows: 5, size: '80', id: 'textbox'
            .form-group.col-md-2
              = f.submit :SAVE, class: "btn btn-primary"
